@use "variables" as v;
@use "mixin" as m;

:root {
  --heroTopGap: 120px;
  --headerH: 0px;
  --LM-gap: 24px;
  --h1-top-gap: 80px;
}

@include m.bp {
  :root {
    --h1-top-gap: 40px;
    --LM-gap: 16px;
  }
}

/* 共通：ヒーロー全体 */
.mainvisual {
  position: relative;
  width: 100%;
  height: 110vh;
  overflow: hidden;


  picture{
    img {
      object-fit: cover;
    }
  }

  .container_mainvisual {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    padding: 0 120px;

    @include m.bp {
      padding: 0 20px;
    }

    @include m.bp {
      flex-direction: column;
    }
  }

  /* 左：テキスト */
  .site_title {
    width: 50%;
    color: v.$main;
    line-height: 1.4;
    padding-top: 50px;

    @include m.bp {
      width: 100%;
      height: 50vh;
    }

    h1 {
      font-size: 60px;
      font-weight: 800;
      text-align: left;
      line-height: 1.5;
      padding-bottom: 35px;

      @include m.bp {
        font-size: 40px;
      }

      .highlight {
        background: v.$point;
        border-radius: 2px;
        padding: 6px 10px;
        font-size: 80px;

        @include m.bp {
          font-size: 50px;
        }

        @include m.sbp {
          font-size: 40px;
        }
      }
      .big__ {
        padding: 10px;
        margin: 10px 0;
        font-size: 100px;
        @include m.bp {
          font-size: 50px;
        }
      }
    }
    .features {
      font-size: 22px;

      @include m.bp {
        font-size: 18px;
      }

      @include m.sbp {
        font-size: 12px;
      }

      li {
        position: relative;
        line-height: 2;
        padding-left: 1.5em; 

        &::before {
          content: "✔"; /* 好きな記号 */
          position: absolute;
          left: 0;
          top: 0;
          color: v.$main; /* ← 好きな色に */
          font-weight: bold;
        }


      }
    }
  }

  /* 右：人物画像 */
  .person {
    width: 50%;
    align-items: flex-end;

    @include m.bp {
      width: 70%;
      height: 50vh;
      margin-left: auto;
    }

    .men {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}
