@use "variables" as v;
@use "mixin" as m;

.market {
	padding: 50px 0;
	margin-bottom: 115px;
	background-color: v.$accent;

	@include m.sbp{
		margin-bottom: 60px;
	}
	.market_contents{
		display: flex;
		justify-content: center;
		gap: 30px;

		@include m.bp{
			flex-direction: column;
		}
		
		img{
			width: 25%;
			object-fit: contain;

			@include m.bp{
				width: 40%;
				margin-left: auto;
			}
		}
		.market_text{
			width: 65%;

			@include m.bp{
				width: 100%;
			}


			h3{	
				display: inline-block;
				font-size: 30px;
				font-weight: bold;
				color: v.$main;
				background-color: v.$point;
				padding: 10px 25px;
				margin-bottom: 30px;
				border-radius: 4px;

				@include m.sbp{
					font-size: 24px;
				}
			}
			p{
				font-size: 20px;
				line-height: 40px;
				color: v.$main;

				@include m.sbp{
					font-size: 16px;
				}
			}

			.market_logo{
				color: v.$point;
				font-size: 36px;
				// font-size: clamp(24px, 5vw, 36px);
				font-weight: bold;

				@include m.sbp{
					font-size: 24px;
				}
			}
		}
	}
}