@use "variables" as v;
@use "mixin" as m;

.point {
  margin: 110px 0;

  @include m.sbp{
    margin: 60px 0;
  }
  .point_contents {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    @include m.bp {
      flex-direction: column;
    }
    .point_content {
      border: v.$accent 2px solid;
      border-radius: 30px;
      width: calc(100% / 3);
      overflow: hidden;
      background-color: v.$sec_b;

      @include m.bp {
        width: 100%;
        height: 45vh;
      }

      img {
        width: 60%;
        height: 50%;
        object-fit: contain;
        margin: 0 auto;
        padding-top: 20px;
      }
      .point_text {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: v.$accent;
        height: 50%;
        padding: 0 30px;
        color: v.$main;
        font-weight: bold;

        h2 {
          font-size: 50px;

          @include m.sbp{
            font-size: 30px;
          }
        }
        p {
          font-size: 24px;

          @include m.sbp{
            font-size: 18px;
          }
        }
      }
    }
  }
}
